h1,
h2 {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}
html {
    height: 100%;
}
:root {
    --colour-background: lightcoral;
    --colour-font1: #f2f2f2;
    --colour-accent1: steelblue;
    --colour-accent2: lightseagreen;
    --colour-text: #f2f2f2;
    --colour-inactive: #7a7a7a;
    --colour-background-inactive: #d3d3d3;
    --colour-outline: #080505;
}
body {
    background: var(--colour-background);
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: var(--colour-text);
    height: 100%;
}

.tab {
    display: none;
    margin: 0 auto;
    max-width: 1550px;
    padding: 25px;
    border-radius: 25px;
    background-color: var(--colour-accent1);

    h2 {
        color: var(--colour-background);
        margin-top: 0;
        margin-bottom: 25px;
    }
}

.tab.active {
    display: flex;
    position: relative;
    flex-direction: column;
}

.games {
    margin-left: calc((100% - 1600px) / 2);
    max-width: 1600px;
}

.tabs {
    margin: 0 auto 25px;
    max-width: 1600px;
    display: flex;
    width: 100%;
    background-color: var(--colour-accent2);
    border-radius: 25px;
    margin-bottom: 25px;
    gap: 2px;
    font-weight: 700;
}

.tabs .tab-selector {
    flex: auto;
    text-align: center;
    background-color: var(--colour-accent2);
    &:hover {
        cursor: pointer;
    }

    &.active {
        background-color: var(--colour-accent1);
    }
}

.tabs :first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.tabs :last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}