.fieldsControls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    border-radius: 35px;
    margin: 25px 0;
    padding: 10px;
    border: 1px solid black;
    
    input, button {
        border: none;
        border-radius: 35px;
        padding: 15px;
        min-width: 120px;
    }

    #timer {
        padding: 15px;
        font-weight: 700;    
    }
}

#fields-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.field {

    hr {
        margin: 0;
        border: solid 1px white;
    }

    .team {
        height: 40vh;
        border: solid 1px white;
    }

    .team1 {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: lightseagreen;
    }

    .team2 {
        background-color: #e64946;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .player {
        display: flex;
        padding: 15px;
        gap: 4px;
        justify-content: center;

        .player-name {
            font-size: 24px;
            display: block;
            height: 24px;
            padding-top: 4px;
        }
        img {
            margin-top: 6px;
        }
    }
}