.fieldsControls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    border-radius: 35px;
    margin: 25px 0;
    padding: 10px;
    border: 1px solid black;
    
    input, button {
        border: none;
        border-radius: 35px;
        padding: 15px;
        min-width: 120px;
    }

    #timer {
        padding: 15px;
        font-weight: 700;    
    }
}