.players {
    max-width: 1600px;
    margin-left: calc((100% - 1600px) / 2);
}

.newPlayer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    border-radius: 35px;
    margin: 25px 0;
    padding: 10px;
    border: 1px solid var(--colour-outline);
    
    input, button {
        border: none;
        border-radius: 35px;
        padding: 15px;
    }
    input#player-name-input {
        flex: 8;
    }
    input#player-level-input {
        flex: 2;
    }
    button {
        flex: 2;
    }
}

input:focus {
    background: linear-gradient(to right, var(--colour-background),  var(--colour-background-inactive));
    outline: none;
    -moz-appearance: textfield;
    color: var(--colour-outline);
    font-weight:700;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
    background: var(--colour-background);
    font-weight: 700;
    border: none;
}
button:hover {
    cursor: pointer;
    background: linear-gradient(to right, var(--colour-background), var(--colour-background), var(--colour-accent2));
    color: var(--colour-font1);
    outline: none;
}
button:active {
    background: #121212;
}
button.inactive {
    background-color: var(--colour-background-inactive);
    color: var(--colour-inactive) !important;
    cursor: not-allowed;
}
button.inactive:hover {
    background: var(--colour-background-inactive);
}
.allPlayers {
    background: linear-gradient( to bottom left, var(--colour-accent2), var(--colour-background));
    border-radius: 25px;
    min-height: 350px;

    table {
        width: 90%;
        margin: 10px 5%;

        #name-header {
            width: 50%;
            text-align: left;
        }

        #playerList {
            tr {
                text-align: center;
                :nth-child(1) {
                    text-align: left;
                }
            }
        }
    }

}


#playerList {
    padding: 0;
    margin: 0;
}

.btn-delete,
.btn-priority {
    background: transparent;
    font-size: 26px;
    margin: 0;
    padding: 0;
    width: 50%;
    border-radius: 15px;
    &:hover {
        background: linear-gradient(to right, var(--colour-background), rgb(142, 160, 155), rgba(116, 185, 180, 0));
    }
    img {
        z-index:0;
        margin-top: 6px;
    }
    &.prio-active {
        background: linear-gradient(to right, #e64946, rgb(142, 160, 155), rgba(116, 185, 180, 0));
    }
}