#settings-tab {
    h2 {
        text-align: left;
        padding-inline-start: 40px;
    }
    ul#settings {
        list-style: none;
        li {
            padding: 10px;
            display: flex;
            flex-direction: row;
            font-size: 30px;

            label {
                flex: 5;
                p.settings-description {
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
            input {
                flex: 1;
                border: none;
                border-radius: 15px;
                height: 35px;
                width: 50px;
                padding: 5px;
                text-align: center;

            }
        }
    }
}